body, html{
  background-color: rgb(86, 201, 140);
}
.my-form{
  margin: 50px 0 0 50px;
}
.form-line{
  display:flex;
  margin-bottom: 10px;
}
.the-labels, .the-input{
  flex: 1;
}
label{
  font-family: Georgia;
  color: white;
  font-size: 20px;
}
.errors{
  margin-top: 25px;
  color: red;
  text-align: center;
  font-family: Georgia;
}
.success{
  font-family: Georgia;
  font-size:  20px;
  color: white;
}
#submitButton{
  padding: 10px 20px;
  background: rgb(119, 119, 118);
  border: 0 none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-family: Georgia;
}
.submit-div{
	text-align: center;
	margin-top: 50px;
}